body{
    background-color: #f0e8d8 ;
    color: #6d4018 ;
    padding: 20px;
    font-size: 32px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
}
h1{
    text-align: center;
    font-size: 40px;
}
a{
    color:#ebdcbf;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    gap: 10px;
    flex-direction: column;
    display: flex;
    
}
.menu-shortcut a {
color:#6d4018;
text-decoration:wavy;
display: inline-block;
font-weight: bold;
text-align: center;;
}


 #logo{
    align-content: center;
    display: flex;
    justify-content: center;
 }   
.nav-bar{
    width: 100%;
    display: flex;
    background-color: #6d4018 ;
    color: #f0e8d8 ;
    font-size: 20px; 
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    height: 50px;
    font-size: 36px; 
    gap: 10px;
    flex-direction: column;
   
}
.menu {display: flex;}
.menu {padding-left: 30px;}
.menu  a {
    display: inline-block;
    text-decoration: none; 
    color: #f0e8d8 ;
    font-weight: bold;
    font-family: Futura Bold ;
    text-align: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    margin-right: 15px;

}
.menu li a::after{
    content:"" ;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #6d4018 ;
    transition: 0.15s ease-in-out;
    color: #f0e8d8 ;

}
.menu li a:hover:after{width: 100%;}
.open-menu, .close-menu{
    position: absolute;
    color: #f0e8d8 ;
    cursor: pointer;
    font-size: 1.5rem;
    display: none; 
}
.open-menu{
    top:50%;
    right: 20px;
    transform: translateY(-50%);

}
.close-menu{
    top: 20px;
    right:20px;
}
#check{display: none;}


#menus{
    justify-content: center;
}

.product-list{
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 50px;
    text-align: center;
    
}

#pmenus{
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    text-align: center;
   
}
.text-overlay{
padding: 10px;
font-size: 24px;
text-align: center;
font-weight: bold;
}


.product {
  flex: 1 1 30%;
  padding: 10px;
  max-width: 600px;
  min-width: 300px;
  margin: 1em;
  border-radius: 8px;
  flex-direction: row;
}
.cart {
  padding: 1em;
  background-color: #fce4ec;
  text-align: center;
}
.product-img{
   width: 400px;
   height: 600px;
   display: flex;
   justify-content: center;

}
button{
    padding: 10px 15px;
    border-radius: 2px;
    background-color: #6d4018;
    color: #f0e8d8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    justify-content: center;
}


.opening_hours, .address, .get-in-touch {
    flex: 1 1 300px;
    min-width: 275px;
    background-color: #f0e8d8;
    padding:20px;
    border-radius: 10px;
}
.opening_hours i, .address i, .get-in-touch i{
    font-size: 1.5rem;
    color: #a0522d;
    margin-bottom: 10px;
    
}
.get-in-touch a{
    color: #6d4018;
}
.opening_hours td{
    text-align: left;
    justify-content: center;
}
.food-menu td {
    padding:20px;
    text-align: left;
}
.sweet-menu td{
    padding: 10px;
    text-align: left;
}
.drink-menu{
    border-collapse: collapse;
    width: 100%;
}
.drink-menu td, th{
    padding: 6px 12px;
}
.drink-menu td.dPrice{
    text-align: right;
    white-space: nowrap;
}
.signature{
    text-align: center;
}
.menu-shortcut{
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    
}

.contact-form{
   background-color: #f2e9db;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   align-content: center;
  
}
.opening_hours table{
    margin: 0 auto;
    text-align: center;
}
.opening_hours td{
    padding: 4px 8px;
    white-space: nowrap;
}

label{
  padding-right: 10px;;
  color:#6d4018;
  font-weight: bold;
  display: inline-block;
  font-size: 24px;

}
input , textarea{
    width:100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;

}
textarea{
    resize: vertical;
    height: 80px;
}
.form-button{
 display: block;
 width: 100%;
 box-sizing: border-box;
 margin-top: 10px;
 background-color: #6d4018;
 color: #ebdcbf;
 padding: 10px 20px;
 border: none;
 cursor: pointer;
}
.form-button:hover{
    background-color: #8b4513;
}
.contact-info{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 40px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}
.form-group{
    display: grid;
    align-items: start;
    margin-bottom: 15px;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.contact-info div{
    text-align: center;
}


.two-column{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}
.two-column .image, .two-column img{
flex: 1 1 400px;
min-width: 280px;
max-width: 100%;
height: auto;

}
.two-column .text{
    flex: 1 1 400px;
    min-width: 280px;
}

.fixed-img{
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

#sweetTreats table{
    margin-left: auto;
    margin-right: auto;
}
#food table{
    margin-left:auto;
    margin-right: auto;
}
#drinks {
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: left;
    margin-top: auto;
    bottom: 0;
    font-size: 14px;
}
/* media queries */
@media (max-width: 1300px){
    p{
        font-size: 18px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    table{
        font-size: 18px;
    }
    .two-column{
        flex-direction: column;
        text-align: left;
        font-size: 18px;
    }

    .contact-info{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
}

@media(max-width:610px){
    .menu{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 100%;
        height:100vh;
        position:fixed;
        top:0;
        right:-120%;
        z-index: 100;
        background-color: #6d4018;
        transition: all 0.2s ease-in-out;
    }
    .menu li{margin-top: 40px;}
    .menu li a{padding:10px}
    .open-menu, .close-menu{display: block;}
    #check:checked ~ .menu {right: 0;}
    .nav-bar{
        background-color: #6d4018;
    }
      .product-list {
    flex-direction: column;
    align-items: center;
  }
}